<div class="bg-system-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3">Meus Pontos</h1>
    <small class="text-muted">Registro <i class="fa fa-angle-right"></i> Meus Pontos</small>
</div>
<div class="row">
    <div class="wrapper-md">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold"><i class="fa fa-search" aria-hidden="true"></i> Filtros
                </div>
                <div class="panel-body">
                    <form method="get" name="meusPontos" ng-submit="vm.buscarMeusPontos()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Data Inicio</label>
                                        <input ng-model="vm.filtros.DataInicial" atg-datepicker="" max-date="vm.filtros.DataFinal" name="DataInicial" type="text"
                                            class="form-control input-sm " placeholder="__/__/____">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Data Fim</label>
                                        <input ng-model="vm.filtros.DataFinal" atg-datepicker="" min-date="vm.filtros.DataInicial" name="DataFinal" type="text" class="form-control input-sm "
                                            placeholder="__/__/____">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Problema</label>
                                        <select name="problemaSelect" class="form-control input-sm" ng-options="Tipo.Codigo as Tipo.Descricao for Tipo in vm.listaTipo"
                                            ng-model="vm.filtros.CodigoTipo">
									<option value="">Selecione um Problema</option></select>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Endereço</label>
                                        <input type="text" class="form-control input-sm" ng-model="vm.filtros.Endereco" placeholder="Exemplo: fulano">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in "></div>
                        <div class="row ">
                            <div class="col-md-12">
                                <button type="submit" class="btn-sm btn btn-primary " ng-disabled="meusPontos.$invalid"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold"><i class="fa fa-info-circle"></i> Resultados</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <pre ng-show="vm.erro" class="alert alert-info">{{vm.erro}}</pre>
                            <pre ng-show="vm.mensagem" class="alert alert-success">{{vm.mensagem}}</pre>
                            <button type="button" ng-click="vm.novoPonto();" class="btn-sm btn btn-primary m-b"><i class="fa fa-plus-circle"></i> Novo</button>
                            <div class="table-responsive">
                                <table ng-table="vm.tabelaExemplo" class="table table-bordered table-hover table-nowrap b-t b-light" template-pagination="componentes/ng-table/template.html">
                                    <tr ng-show="!vm.carregandoGrid && $data.length != 0" ng-repeat="registro in $data">
                                        <td data-title="'Ações'" width="75px" class="text-center">
                                            <div uib-dropdown="" class="btn-group dropdown">
                                                <button uib-dropdown-toggle="" class="btn btn-xs btn-primary">
                                                <i class="fa fa-cog"></i> <span class="caret"></span>
                                            </button>
                                                <ul class="dropdown-menu" uib-dropdown-menu>
                                                    <li><a ng-click="vm.visualizar(registro);">Visualizar Ponto</a></li>
                                                    <li><a ng-click="vm.deletarPonto(registro);">Deletar Ponto</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td data-title="'Data Cadastrado'">{{registro.DataCadastrado | date:'dd/MM/yyyy H:mm:ss'}}</td>
                                        <td data-title="'Endereco'" class="text-center">{{registro.EnderecoCompleto}}</td>
                                        <td data-title="'Tipo'">{{registro.Tipo}}</td>
                                        <td data-title="'País'">{{registro.Pais}}</td>

                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-center" ng-show="$data.length == 0 && !vm.carregandoGrid">Nenhum registro encontrado.</td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-center" ng-show="vm.carregandoGrid">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-sm text-center box-index ">
        </div>
    </div>