<div class="bg-system-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3">Alterar Senha</h1>
    <small class="text-muted">Painel <i class="fa fa-angle-right"></i> Alterar Senha</small>
</div>
<div class="row">
    <div class="wrapper-md">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold"><i class="fa fa-edit" aria-hidden="true"></i> Edição
                </div>
                <div class="panel-body">
                    <form method="get" name="alterarDadosForm" ng-submit="vm.alterarSenha()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Senha</label>
                                        <input type="password" class="form-control input-sm" required ng-model="vm.dados.SenhaAntiga" placeholder="Senha antiga">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nova Senha</label>
                                        <input type="password" class="form-control input-sm" required ng-model="vm.dados.SenhaNova" placeholder="Senha nova">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Confirmar Senha</label>
                                        <input type="password" class="form-control input-sm" required ng-model="vm.dados.SenhaNovaConfirme" placeholder="Por favor, confirme a senha">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn-sm btn btn-primary" ng-disabled="alterarDadosForm.$invalid"><i class="fa fa-save"></i> Salvar</button>
                                <button type="button" ng-click="vm.limparSenha();" class="btn-sm btn btn-default btn-addon"><i class="fa fa-undo"></i> Limpar</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row row-sm text-center box-index">
        </div>
    </div>
</div>