<div class="row">
    <div class="col-md-12 m-b m-t m-l">
        <form name="cadastroTipoAcesso" ng-submit="vm.cadastrar()">
            <pre ng-show="vm.erro" class="alert alert-info">{{vm.erro}}</pre>

            <div class="row">
                <div class="col-md-12">
                    <h4>Tipo de Problemas:</h4>
                    <ul>
                        <li><b>Exemplo:</b> Buraco, Calçadas...</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Problema</label>
                        <input type="text" class="form-control input-sm" required ng-model="vm.dados.NomeAcesso" placeholder="Exemplo: Tester">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn-sm btn btn-primary" ng-disabled="cadastroTipoAcesso.$invalid"><i class="fa fa-save"></i> Salvar</button>
                    <button type="button" class="btn-sm btn btn-default" ng-click="vm.voltar();"><i class="fa fa-arrow-left"></i> Voltar</button>
                </div>
            </div>
        </form>
    </div>
</div>