<div class="bg-system-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3">Relatorio</h1>
    <small class="text-muted">Administração <i class="fa fa-angle-right"></i> Relatório</small>
</div>
<div class="row">
    <div class="wrapper-md">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold"><i class="fa fa-search" aria-hidden="true"></i> Filtro
                </div>
                <div class="panel-body">
                    <form method="get" name="alterarDadosForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Data Inicio</label>
                                        <input ng-model="vm.filtros.DataInicial" atg-datepicker="" max-date="vm.filtros.DataFinal" name="DataInicial" type="text"
                                            class="form-control input-sm " placeholder="__/__/____">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Data Fim</label>
                                        <input ng-model="vm.filtros.DataFinal" atg-datepicker="" min-date="vm.filtros.DataInicial" name="DataFinal" type="text" class="form-control input-sm "
                                            placeholder="__/__/____">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn-sm btn btn-primary" ng-disabled="alterarDadosForm.$invalid"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row row-sm text-center box-index">
        </div>
    </div>
</div>