<div class="bg-system-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3">Visualizar Ponto</h1>
    <small class="text-muted">Administração <i class="fa fa-angle-right"></i> Relatório <i class="fa fa-angle-right"></i> Visualizar Ponto</small>
</div>
<div class="row">
    <div class="wrapper-md">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold"><i class="fa fa-file-o" aria-hidden="true"></i> Dados
                </div>
                <div class="panel-body">
                    <form method="get" name="alterarDadosForm" ng-submit="vm.excluirPonto()">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Endereço Completo</label>
                                        <input type="text" class="form-control input-sm" disabled="true" ng-model="vm.dados.EnderecoCompleto">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Usuário</label>
                                        <input type="text" class="form-control input-sm" disabled="true" ng-model="vm.dados.NomeUsuario">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Usuário</label>
                                        <input type="text" class="form-control input-sm" disabled="true" ng-model="vm.dados.Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cidade</label>
                                        <input type="text" class="form-control input-sm" disabled="true" ng-model="vm.dados.Cidade">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <input type="text" class="form-control input-sm" disabled="true" ng-model="vm.dados.Estado">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>País</label>
                                        <input type="text" class="form-control input-sm" disabled="true" ng-model="vm.dados.Pais">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Latitude</label>
                                        <input type="text" class="form-control input-sm" disabled="true" ng-model="vm.dados.Latitude">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Longitude</label>
                                        <input type="text" class="form-control input-sm" disabled="true" ng-model="vm.dados.Longitude">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Data Registrada</label>
                                        <input type="email" class="form-control input-sm" disabled="true" ng-model="vm.dados.DataCadastrado">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tipo</label>
                                        <input type="text" class="form-control input-sm" disabled="true" ng-model="vm.dados.Tipo">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Observação</label>
                                        <textarea class="form-control input-sm" disabled="true" ng-model="vm.dados.Observacao"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <button type="submit" class="btn-sm btn btn-primary btn-addon"><i class="fa fa-trash"></i> Excluir</button>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold"><i class="fa fa-file-o" aria-hidden="true"></i> Respostas
                </div>
                <div class="panel-body">
                    <form method="get" name="alterarDadosForm" ng-submit="vm.inserirResposta()">
                        <div class="form-group">
                            <div ng-repeat="resposta in vm.listaResposta">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{resposta.NomeUsuario}} - {{resposta.DataRespondido | date:'dd/MM/yyyy H:mm:ss'}}</label>
                                            <textarea class="form-control input-sm" disabled="true" ng-model="resposta.Texto"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="vm.listaResposta.length == 0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Não existem respostas</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Resposta</label>
                                        <textarea class="form-control input-sm" ng-model="vm.dadosIncluir.Texto"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <button type="submit" class="btn-sm btn btn-primary" ng-disabled="alterarDadosForm.$invalid"><i class="fa fa-save"></i> Salvar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row row-sm text-center box-index">
        </div>
    </div>
</div>