<div class="bg-system-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3">Bem-vindo ao VAssist!</h1>
    <small class="text-muted">Início</small>
</div>
<div class="row">
    <div class="wrapper-md">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold"><i class="fa fa-info" aria-hidden="true"></i> Informações
                </div>
                <div class="panel-body">
                    <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-date-disabled" method="get">
                        <div class="form-group">

                            <div class="row m-t m-l e m-r">
                                <span class="col-sm-12"><i class="fa fa-check-square-o fa-2x"></i>Cadastrar novos pontos
					</span>
                            </div>
                            <div class="row m-t m-l e m-r">
                                <span class="col-sm-12"><i class="fa fa-check-square-o fa-2x"></i>Visualizar os pontos cadastrados
					</span>
                            </div>
                            <div class="row m-t m-l e m-r">
                                <span class="col-sm-12"><i class="fa fa-check-square-o fa-2x"></i> Alterar informações de Login
					</span>
                            </div>
                            <div class="row m-t m-l e m-r">
                                <span class="col-sm-12"><i class="fa fa-check-square-o fa-2x"></i> Visualizar estatísticas
					</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold"><i class="fa fa-bullhorn" aria-hidden="true"></i> Mensagens
                </div>
                <div class="panel-body">
                    <form method="get" name="alterarDadosForm" ng-submit="vm.inserirResposta()">
                        <div class="form-group">
                            <div ng-repeat="mensagem in vm.listaMensagem">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{mensagem.NomeUsuario}} - {{mensagem.Data | date:'dd/MM/yyyy H:mm:ss'}}</label>
                                            <textarea class="form-control input-sm" disabled="true" ng-model="mensagem.Texto"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="vm.listaMensagem.length == 0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Não existem Mensagens.</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="row row-sm text-center box-index">
        </div>
    </div>
</div>