<div class="bg-system-light lter b-b wrapper-md ng-scope">
    <h1 class="m-n font-thin h3">Bem-vindo ao VAssist!</h1>
    <small class="text-muted">Início</small>
</div>
<div class="row">
    <div class="wrapper-md">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold"><i class="fa fa-map-marker" aria-hidden="true"></i> Pontos Cadastrados
                </div>
                <div class="panel-body">
                    <form method="get" name="cadastrarPontos" ng-submit="vm.cadastrarPonto();">
                        <div class="row ">
                            <div class="col-md-4 ">
                                <!--
                                    <button type="button" ng-click="vm.anterior();" class="btn-sm btn btn-default btn-addon"><i class="fa fa-arrow-left"></i> Ver Ponto Anterior</button>
                                <button type="button" ng-click="vm.proximo();" class="btn-sm btn btn-default btn-addon"><i class="fa fa-arrow-right"></i> Ver Proximo</button>
                            -->
                                <button type="button" ng-click="vm.novoPonto();" class="btn-sm btn btn-primary"><i class="fa fa-plus-circle"></i> Novo Ponto</button>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in "></div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group ">
                                        <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}} ">
                                            <ng-map center="[-20.33107, -40.35356]">
                                                <custom-marker ng-repeat="p in vm.positions track by $index" id="custom-marker-{{$index}}" position="{{p.pos}}">
                                                    <div class="marker-class-container">
                                                        <div class="marker-class-box">

                                                            <label>{{p.usuario}}: {{p.texto}}</label>
                                                            <br />
                                                            <label>Endereco {{p.endereco}}</label>

                                                        </div>
                                                    </div>
                                                </custom-marker>

                                            </ng-map>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in "></div>
                        <div class="row ">
                            <div class="col-md-4">
                                <label>Quantidade de Pontos : {{vm.tamanhoTotal}}</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading font-bold"><i class="fa fa-bullhorn" aria-hidden="true"></i> Mensagens
                </div>
                <div class="panel-body">
                    <form method="get" name="alterarDadosForm" ng-submit="vm.inserirResposta()">
                        <div class="form-group">
                            <div ng-repeat="mensagem in vm.listaMensagem">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{mensagem.NomeUsuario}} - {{mensagem.Data | date:'dd/MM/yyyy H:mm:ss'}}</label>
                                            <textarea class="form-control input-sm" disabled="true" ng-model="mensagem.Texto"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="vm.listaMensagem.length == 0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Não existem Mensagens.</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="row row-sm text-center box-index">
        </div>
    </div>
</div>